<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partial/head %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <% include ../partial/header %>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <% include ../partial/leftSidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">Member Detail</h3> </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Members</a></li>
                <li class="breadcrumb-item active">Member Detail</li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
              <!-- Start Page Content -->
              <div class="row">
                  <!-- Column -->
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-body">
                              <div class="card-two">
                                  <header>
                                      <div class="avatar">
                                          <img src="https://randomuser.me/api/portraits/women/21.jpg" alt="Allison Walker" />
                                      </div>
                                  </header>

                                  <h3><%= member.name %></h3>
                                  <div class="desc">
                                      This user registed since <%= member.inserted_date %>
                                  </div>
                                  <div class="contacts">
                                      <a href=""><i class="fa fa-plus"></i></a>
                                      <a href=""><i class="fa fa-whatsapp"></i></a>
                                      <a href=""><i class="fa fa-envelope"></i></a>
                                      <div class="clear"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
                  <!-- Column -->
                  <div class="col-lg-12">
                      <div class="card">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs profile-tab" role="tablist">
                              <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Timeline</a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div class="tab-pane active" id="home" role="tabpanel">
                                  <div class="card-body">
                                      <div class="profiletimeline">
                                          <div class="sl-item">
                                              <div class="sl-left"> <img src="/images/users/avatar-1.jpg" alt="user" class="img-circle" /> </div>
                                              <div class="sl-right">
                                                  <div><a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                                      <p>assign a new task <a href="#changePassModal"> Design weblayout</a></p>
                                                      <div class="row">
                                                          <div class="col-lg-3 col-md-6 m-b-20"><img src="/images/big/img1.jpg" class="img-responsive radius" /></div>
                                                          <div class="col-lg-3 col-md-6 m-b-20"><img src="/images/big/img2.jpg" class="img-responsive radius" /></div>
                                                          <div class="col-lg-3 col-md-6 m-b-20"><img src="/images/big/img3.jpg" class="img-responsive radius" /></div>
                                                          <div class="col-lg-3 col-md-6 m-b-20"><img src="/images/big/img4.jpg" class="img-responsive radius" /></div>
                                                      </div>
                                                      <div class="like-comm"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="sl-item">
                                              <div class="sl-left"> <img src="/images/users/avatar-2.jpg" alt="user" class="img-circle" /> </div>
                                              <div class="sl-right">
                                                  <div> <a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                                      <div class="m-t-20 row">
                                                          <div class="col-md-3 col-xs-12"><img src="/images/big/img1.jpg" alt="user" class="img-responsive radius" /></div>
                                                          <div class="col-md-9 col-xs-12">
                                                              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p> <a href="#" class="btn btn-success"> Design weblayout</a></div>
                                                      </div>
                                                      <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="sl-item">
                                              <div class="sl-left"> <img src="/images/users/avatar-3.jpg" alt="user" class="img-circle" /> </div>
                                              <div class="sl-right">
                                                  <div><a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                                      <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                                                          Praesent mauris. Fusce nec tellus sed augue semper </p>
                                                  </div>
                                                  <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="sl-item">
                                              <div class="sl-left"> <img src="/images/users/avatar-4.jpg" alt="user" class="img-circle" /> </div>
                                              <div class="sl-right">
                                                  <div><a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                                      <blockquote class="m-t-10">
                                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                      </blockquote>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!--second tab-->
                              <div class="tab-pane" id="profile" role="tabpanel">
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-md-2 col-xs-6 b-r"> <strong>Full Name</strong>
                                              <br>
                                              <p class="text-muted"><%= member.name %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6 b-r"> <strong>Mobile</strong>
                                              <br>
                                              <p class="text-muted"><%= member.phone %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6 b-r"> <strong>RFID No.</strong>
                                              <br>
                                              <p class="text-muted"><%= member.rfid %></p>
                                          </div>
                                          <div class="col-md-1 col-xs-6"> <strong>Major</strong>
                                              <br>
                                              <p class="text-muted"><%= member.major %></p>
                                          </div>
                                          <div class="col-md-1 col-xs-6"> <strong>Year</strong>
                                              <br>
                                              <p class="text-muted"><%= member.year %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6"> <strong>Roll No</strong>
                                              <br>
                                              <p class="text-muted"><%= member.roleNo %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6"> <strong>Status</strong>
                                              <br>
                                              <p class="text-muted" id="sts"><span class="label label-rouded label-success pull-right" >Normal</span></p>
                                          </div>
                                      </div>
                                      <hr>
                                      <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
                                          elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                          it to make a type specimen book. It has survived not only five centuries </p>
                                      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                      </p>
                                      <h4 class="font-medium m-t-30">Skill Set</h4>
                                      <hr>
                                      <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                      </div>
                                      <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                      </div>
                                      <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                      </div>
                                      <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="settings" role="tabpanel">
                                  <div class="card-body">
                                      <form class="form-horizontal form-material" action="/members/modify" method="post">
                                        <input type="hidden" name="id" value="<%= member._id %>">
                                          <div class="form-group">
                                              <label class="col-md-12">Full Name</label>
                                              <div class="col-md-12">
                                                  <input type="text" value="<%= member.name %>" name="username" class="form-control form-control-line">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label for="example-email" class="col-md-12">Major</label>
                                              <div class="col-md-12">
                                                  <select class="form-control" id="major" name="major">
                                                      <option value="">Select Major</option>
                                                      <option value="IT" >IT</option>
                                                      <option value="CIVIL">Civil</option>
                                                      <option value="MP">MP</option>
                                                      <option value="EP">EP</option>
                                                      <option value="EC">EC</option>
                                                      <option value="MC">MC</option>

                                                  </select>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label for="example-email" class="col-md-12">Email</label>
                                              <div class="col-md-12">
                                                <select class="form-control" id="year" name="year">
                                                    <option value="">Select Year</option>
                                                    <option value="1BE">First Year</option>
                                                    <option value="2BE">Second Year</option>
                                                    <option value="3BE">Third Year</option>
                                                    <option value="4BE">Fourth Year</option>
                                                    <option value="5BE">Fifth Year</option>
                                                    <option value="6BE">Final Year</option>

                                                </select>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label for="example-email" class="col-md-12">Status</label>
                                              <div class="col-md-12">
                                                <select class="form-control" id="status" name="status">
                                                    <option value="">Select Status</option>
                                                    <option value="00">Noraml</option>
                                                    <option value="01">Warning</option>
                                                    <option value="10">Inactive</option>
                                                    <option value="11">Block</option>
                                                </select>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Roll No</label>
                                              <div class="col-md-12">
                                                  <input type="text" class="form-control" id="val-number" name="role" value="<%= member.roleNo %>">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Phone No</label>
                                              <div class="col-md-12">
                                                  <input type="text" class="form-control" id="val-phoneus" name="phoneus" value="<%= member.phone %>">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Password</label>
                                              <div class="col-md-12">
                                                  <input type="password" class="form-control" id="val-password" name="password" value="<%= member.password %>" readonly>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">RFID</label>
                                              <div class="col-md-12">
                                                  <input type="text" class="form-control" id="val-suggestions" name="rfid" rows="5" value="<%= member.rfid%>">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="col-sm-6">
                                                  <button class="btn btn-success" >Update Profile</button>
                                              </div>
                                              <div class="col-sm-6">
                                                  <a href="javascript:del();"><button type="button" class="btn btn-danger ">Remove</button></a>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
              </div>

              <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
          <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <div class="modal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="changePassModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
              <form action="javascript:;" novalidate="novalidate">
                  <div class="modal-header">
                  <h5 class="modal-title">Change Password</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                      <div class="">
                          <div class="form-group">
                              <label for="oldPass">
                                  old Password
                              </label>
                              <input type="password"  data-val="true" data-val-required="this is Required Field" class="form-control" name="oldPass" id="oldPass"/>
                              <span class="field-validation-valid text-danger" data-valmsg-for="oldPass" data-valmsg-replace="true"></span>
                          </div>
                          <div class="form-group">
                              <label for="newPass">
                                  New Password
                              </label>
                              <input type="password" data-val="true" data-val-required="this is Required Field" class="form-control" name="newPass" id="newPass"/>
                              <span class="field-validation-valid text-danger"  data-valmsg-for="newPass" data-valmsg-replace="true"></span>

                          </div>
                          <div class="form-group">
                              <label for="confirmPass">
                                  Confirm Password
                              </label>
                              <input type="password" data-val-equalto="Password not Match ", data-val-equalto-other="newPass" data-val="true" data-val-required="this is Required Field" class="form-control" name="confirmPass" id="confirmPass"/>
                              <span class="field-validation-valid text-danger" data-valmsg-for="confirmPass" data-valmsg-replace="true"></span>

                          </div>

                      </div>

                  </div>
                  <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
  <!-- End Wrapper -->
  <!-- All Jquery -->
  <% include ../partial/javascript %>
  <script src="/javascripts/lib/form-validation/jquery.validate.unobtrusive.min.js"></script>
  <script src="/javascripts/lib/form-validation/jquery.validate.min.js"></script>
  <script src="/javascripts/lib/form-validation/jquery.validate-init.js"></script>

  <script src="/javascripts/lib/jquery.nicescroll/jquery.nicescroll.min.js"></script>
  <!--Custom JavaScript -->
  <script>
      $(function(){
        $("html").niceScroll({
            cursorcolor:"#16385d",
            cursorwidth:"5px",
            background:"#fff",
            cursorborder:"1px solid #5c4ac7",
            cursorborderradius:0
            });  // a world f

          $('#major').val('<%= member.major %>');
          $('#year').val('<%= member.year %>');
          $('#status').val('<%= member.status %>');

          switch ('<%= member.status %>') {
            case '00':
             $('#sts').html('<span class="label label-rouded label-success pull-center">Normal</span>');
              break;
             case '01':
             $('#sts').html('<span class="label label-rouded label-warning pull-center">Warning</span>');
               break;
             case "10":
               $('#sts').html('<span class="label label-rouded label-default pull-center">Inactive</span>');
               break;
             case "11":
               $('#sts').html('<span class="label label-rouded label-danger pull-center">Block</span>');
               break;
            default:
             console.log('Unnormal');
          }
      });
      function del() {
        location.href = "/members/memberDelete/<%=member._id %>";
      }
  </script>
</body>

</html>
