<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partial/head %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="/stylesheets/lib/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link href="/stylesheets/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/stylesheets/helper.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <% include ../partial/header %>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <% include ../partial/leftSidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">Book Detail</h3> </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Books</a></li>
                <li class="breadcrumb-item active">Book Detail</li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
              <!-- Start Page Content -->
              <div class="row">
                  <!-- Column -->
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-body">
                              <div class="card-two">
                                  <header>
                                      <div class="avatar">
                                          <img src="/images/book.jpg" alt="Allison Walker" />
                                      </div>
                                  </header>

                                  <h3><%= book.book_name %></h3>
                                  <div class="desc">
                                      This book registed at <span style="color:darkblue;"><%= timeago %></span>
                                  </div>
                                  <div class="contacts">
                                      <a href=""><i class="fa fa-plus"></i></a>
                                      <a href=""><i class="fa fa-whatsapp"></i></a>
                                      <a href=""><i class="fa fa-envelope"></i></a>
                                      <div class="clear"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
                  <!-- Column -->
                  <div class="col-lg-12">
                      <div class="card">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs profile-tab" role="tablist">
                              <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Timeline</a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>
                              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div class="tab-pane active" id="home" role="tabpanel">
                                  <div class="card-body">
                                      <div class="profiletimeline">
                                          <div class="sl-item">
                                              <div class="sl-left"> <img src="/images/users/avatar-1.jpg" alt="user" class="img-circle" /> </div>
                                              <div class="sl-right">
                                                  <div><a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                                      <p>assign a new task <a href="#changePassModal"> Design weblayout</a></p>
                                                      <div class="row">
                                                          <div class="col-lg-3 col-md-6 m-b-20"><img src="/images/big/img1.jpg" class="img-responsive radius" /></div>
                                                          <div class="col-lg-3 col-md-6 m-b-20"><img src="/images/big/img2.jpg" class="img-responsive radius" /></div>
                                                          <div class="col-lg-3 col-md-6 m-b-20"><img src="/images/big/img3.jpg" class="img-responsive radius" /></div>
                                                          <div class="col-lg-3 col-md-6 m-b-20"><img src="/images/big/img4.jpg" class="img-responsive radius" /></div>
                                                      </div>
                                                      <div class="like-comm"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="sl-item">
                                              <div class="sl-left"> <img src="/images/users/avatar-2.jpg" alt="user" class="img-circle" /> </div>
                                              <div class="sl-right">
                                                  <div> <a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                                      <div class="m-t-20 row">
                                                          <div class="col-md-3 col-xs-12"><img src="/images/big/img1.jpg" alt="user" class="img-responsive radius" /></div>
                                                          <div class="col-md-9 col-xs-12">
                                                              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p> <a href="#" class="btn btn-success"> Design weblayout</a></div>
                                                      </div>
                                                      <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="sl-item">
                                              <div class="sl-left"> <img src="/images/users/avatar-3.jpg" alt="user" class="img-circle" /> </div>
                                              <div class="sl-right">
                                                  <div><a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                                      <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                                                          Praesent mauris. Fusce nec tellus sed augue semper </p>
                                                  </div>
                                                  <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="sl-item">
                                              <div class="sl-left"> <img src="/images/users/avatar-4.jpg" alt="user" class="img-circle" /> </div>
                                              <div class="sl-right">
                                                  <div><a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                                      <blockquote class="m-t-10">
                                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                      </blockquote>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!--second tab-->
                              <div class="tab-pane" id="profile" role="tabpanel">
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-md-2 col-xs-6 b-r"> <strong>Book Name</strong>
                                              <br>
                                              <p class="text-muted"><%= book.book_name %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6 b-r"> <strong>Main Category</strong>
                                              <br>
                                              <p class="text-muted" id="main"><%= book.main_cat %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6 b-r"> <strong>Sub Category</strong>
                                              <br>
                                              <p class="text-muted"><%= book.sub_cat %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6"> <strong>Author</strong>
                                              <br>
                                              <p class="text-muted"><%= book.book_author %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6"> <strong>Published Date</strong>
                                              <br>
                                              <p class="text-muted"><%= book.published_date %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6"> <strong>Range</strong>
                                              <br>
                                              <p class="text-muted"><%= book.book_range %></p>
                                          </div>
                                          <div class="col-md-2 col-xs-6"> <strong>Status</strong>
                                              <br>
                                              <p class="text-muted" id="sts"><%= book.status %></p>
                                          </div>
                                      </div>
                                      <hr>
                                      <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
                                          elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                          it to make a type specimen book. It has survived not only five centuries </p>
                                      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                      </p>
                                      <h4 class="font-medium m-t-30">Skill Set</h4>
                                      <hr>
                                      <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                      </div>
                                      <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                      </div>
                                      <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                      </div>
                                      <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="settings" role="tabpanel">
                                  <div class="card-body">
                                      <form class="form-horizontal form-material" action="/books/modify" method="post">
                                        <input type="hidden" name="id" value="<%= book._id %>">
                                          <div class="form-group">
                                              <label class="col-md-12">Book Name</label>
                                              <div class="col-md-12">
                                                  <input type="text" value="<%= book.book_name %>" name="book_name" class="form-control form-control-line">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label for="example-email" class="col-md-12">Main Categories</label>
                                              <div class="col-md-12">
                                                <select class="form-control" id="main_cat" name="main_cat">
                                                </select>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label for="example-email" class="col-md-12">Sub Categories</label>
                                              <div class="col-md-12">
                                                <select class="form-control" id="sub_cat" name="sub_cat">
                                                </select>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label for="place" class="col-md-12">Book-Shelf</label>
                                              <div class="col-md-12">
                                                <select class="form-control" id="place" name="place">
                                                  <option value="A0">A0</option>
                                                  <option value="A1">A1</option>
                                                  <option value="A2">A2</option>
                                                  <option value="A3">A3</option>
                                                  <option value="A4">A4</option>
                                                  <option value="A5">A5</option>
                                                  <option value="A6">A6</option>
                                                  <option value="A7">A7</option>
                                                  <option value="A8">A8</option>
                                                  <option value="A9">A9</option>
                                                  <option value="B0">B0</option>
                                                  <option value="B1">B1</option>
                                                  <option value="B2">B2</option>
                                                  <option value="B3">B3</option>
                                                  <option value="B4">B4</option>
                                                  <option value="B5">B5</option>
                                                  <option value="B6">B6</option>
                                                  <option value="B7">B7</option>
                                                  <option value="B8">B8</option>
                                                  <option value="B9">B9</option>
                                                  <option value="C0">C0</option>
                                                  <option value="C1">C1</option>
                                                  <option value="C2">C2</option>
                                                  <option value="C3">C3</option>
                                                  <option value="C4">C4</option>
                                                  <option value="C5">C5</option>
                                                  <option value="C6">C6</option>
                                                  <option value="C7">C7</option>
                                                  <option value="C8">C8</option>
                                                  <option value="C9">C9</option>
                                                </select>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Number Of Book</label>
                                              <div class="col-md-12">
                                                  <input type="text" class="form-control" id="item" name="item" value = "<%= book.item %>">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Author</label>
                                              <div class="col-md-12">
                                                  <input type="text" class="form-control" id="book_author" name="book_author" value = "<%= book.book_author %>">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Published Date </label>
                                              <div class="col-md-12">
                                                  <input type="date" class="form-control" id="pub_date" name="pub_date" value="<%= book.published_date %>">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label for="example-email" class="col-md-12">Status</label>
                                              <div class="col-md-12">
                                                <select class="form-control" id="status" name="status">
                                                    <option value="">Select Status</option>
                                                    <option value="00">Avaliable</option>
                                                    <option value="01">Borrow</option>
                                                    <option value="10">Lost</option>
                                                </select>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Reading Range</label>
                                              <div class="col-md-12">
                                                  <input type="text" class="form-control" id="book_range" name="book_range" value="<%= book.book_range %>" >
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">BarCode No</label>
                                              <div class="col-md-12">
                                                  <input type="text" class="form-control" id="barcode" name="barcode" rows="5" value="<%= book.barcode%>">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="col-sm-12">
                                                  <button class="btn btn-success" >Update Book</button>
                                                  <a href="javascript:del();"><button type="button" class="btn btn-danger ">Remove</button></a>
                                              </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
              </div>

              <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <% include ../partial/footer %>
          <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>

  <!-- End Wrapper -->
  <!-- All Jquery -->
  <% include ../partial/javascript %>
  <script src="/javascripts/lib/form-validation/jquery.validate.unobtrusive.min.js"></script>
  <script src="/javascripts/lib/form-validation/jquery.validate.min.js"></script>
  <script src="/javascripts/lib/form-validation/jquery.validate-init.js"></script>
  <script src="/javascripts/lib/sweetalert/sweetalert.min.js"></script>

  <script src="/javascripts/lib/jquery.nicescroll/jquery.nicescroll.min.js"></script>
  <!--Custom JavaScript -->
  <script>
      // $(function(){
      //   if ($('#main').html()) {
      //     var reasign = str($('#main').html());
      //     console.log('assign',$('#main').html().remove('amp;'));
      //     $('#main').html(reasign);
      //   }

        $("html").niceScroll({
            cursorcolor:"#16385d",
            cursorwidth:"5px",
            background:"#fff",
            cursorborder:"1px solid #5c4ac7",
            cursorborderradius:0
            });  // a world f
          var categories = [<%- cat%>];
          console.log(categories);
              addOptions('main_cat', categories);
              $("#main_cat").on('change', function(){
                  var sub = $.grep( categories, function( n, i ) {
                    return n.main_cat == $("#main_cat").val();
                  });
                  addOptions('sub_cat', sub);
              });

              function addOptions(id, arr){
                console.log('call2', id, arr);
                  $("#"+id).children().remove();
                  for(var idx in arr){
                      if(idx == 0) $("#"+id).append(new Option('Select '+((id == 'main_cat')? "Main Category": "Sub Category"), ''));
                      if(idx == 0 || arr[idx][id] != arr[idx-1][id]){
                          $("#"+id).append(new Option(((id == 'main_cat')? arr[idx][id]:arr[idx][id]), arr[idx][id]));
                      }
                  }
              }

              // addOptions('main_cat','<%= book.main_cat %>');
              $('#main_cat').val('<%- book.main_cat %>');
              var sub = $.grep( categories, function( n) {
                return n.main_cat == '<%- book.main_cat %>';
              });
              addOptions('sub_cat', sub);
              $('#sub_cat').val('<%- book.sub_cat %>');
              $('#status').val('<%= book.status %>');
              $('#place').val('<%= book.place %>');

              switch ('<%= book.status %>') {
                case '00':
                 $('#sts').html('<span class="label label-rouded label-success pull-center">Avaliable</span>');
                  break;
                 case '01':
                 $('#sts').html('<span class="label label-rouded label-warning pull-center">Borrow</span>');
                   break;
                 case '10':
                 $('#sts').html('<span class="label label-rouded label-default pull-center">Lost</span>');
                   break;
                  default:
                 console.log('Unnormal');
              }


      function del() {
        swal({
                title: "Are you sure to delete ?",
                text: "You will not be able to recover this book !!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it !!",
                closeOnConfirm: false
            },
            function(){
                swal({
                  title:"Deleted !!",
                  text: "Hey, your book has been deleted !!",
                  type: "success",
                  closeOnConfirm: true
                },function(isConfirm){
                  location.href = "/books/bookDelete/<%=book._id %>";
                } );
            });
      }
  </script>
</body>

</html>
